.message-bar{
    position:fixed;
    right:0;
    width: var(--operations-history-laptop-width);
    color: white;
    margin-right: 2px;
    margin-top: 2px;
    max-height: 60vh;
}

.message-bar-content::-webkit-scrollbar{
    display: none;
}

.message-bar-content{
    color: white;
    max-height: 49vh;
    transition: 1s; 
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}

.message-bar-wrapper{
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.message-bar-item{
    margin-top: 0.2rem;
    border-radius: 5px;
    background-color: var(--dark-color);
    max-height: 3rem;
}

.message-bar-item-title{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: inherit;
    cursor: pointer;
}

.svg-icon{
    width: 2rem;
    margin: 0;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.selectedMessage{
    background-color:var(--primary-color);
}

.message-bar-item-title:hover{
    background-color: var(--highlight-color);
    opacity: 0.9;
}



.message-bar-operation-content:hover{
    background-color: var(--dark-color);
    
}



/* FOR SCREENS BIGGER THAN A LAPTOP
@media screen and (min-width: 1400px) {

    .message-bar-operation-content{
        right: 150%;      
    }
    
} */

