.node:hover{
    cursor: pointer;
}

.svg-text{
    -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.svg-text::selection{
    background:none;
    fill: transparent;
}

.hide{
    display: none;
}

.node-tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-tooltip-info{
    border-bottom: 1px solid grey;
    margin-bottom: 0.3rem;
}