
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

.titleLinks{
    flex-grow: 1;
}

.treeLinks{
    flex-grow: 1;
}

.treeLinks a{
    font-size: 1rem;
}

.flex{
    display: flex;
}