body{
    max-height: 100vh;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

button, .fileInputLabel{
    border-radius: 6px;
    color: white;
    background-color: transparent;
    border: 2px solid #74C69D;
    cursor: pointer;
    width: 6rem;
    padding: 0.2rem 0;
}

button:hover, .fileInputLabel:hover{
    background-color: #74C69D;
}

.button-warning{
    border: 2px solid red;
}

.button-warning:hover{
    background-color: red;
}
