.operations-drop-down{
    background-color: var(--dark-color);
    position: absolute;
    width:var(--operations-panel-laptop-width);
    color: white;
    margin-left: 2px;
    margin-top: 2px;
}



.dropdown-control{
    cursor: pointer;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    font-size: 0.8rem;  
}

.dropdown-header{
    background-color: var(--dark-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    font-size: 0.8rem;  
}

.dropdown-content{
    opacity: 0.9;
    color: white;
    padding: 0.5rem 1rem;
}

.dropdown-menu-item{
    padding: 0.3rem 0;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid var(--primary-color);
}

.dropdown-menu-item-label{
    min-width: 3rem;
}

.fileInput{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.fileInputLabel{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}


/* FOR SCREENS BIGGER THAN A LAPTOP */
@media screen and (min-width: 1400px) {
    .operations-drop-down{
        background-color: var(--dark-color);
        position: absolute;
        width: var(--operations-panel-desktop-width);
        color: white;
        margin-left: 2px;
        margin-top: 2px;
    }
    
}